{
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true,
    "worker": true,
    "serviceworker": true
  },
  "globals": {
    "toolbox": true
  },
  "rules": {
    "no-warning-comments": 0,
    "global-require": 0
  }
}
